@model IEnumerable<Noti_Client.Models.Group>

@{
    ViewData["Title"] = "GetGroup";
}

<br />
<h1 class="text-center">Notificaion Board </h1> 

<p>
    <a asp-action="CreateGroup">Create New</a>
</p>
<table class="table text-white">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
              
                    <a asp-action="DeleteGroup" asp-route-id="@item.ID"> <i class="fa-solid fa-delete-left  custom-icon"></i> </a> |
            </td>
        </tr>
}
    </tbody>
</table>
